.table {
    width: 100%;
    table-layout: fixed;
}

.customer th:nth-child(1),
.customer td:nth-child(1) {
    width: 50px;
}

.customer th:nth-child(2),
.customer td:nth-child(2) {
    min-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer th:nth-child(3),
.customer td:nth-child(3) {
    width: 17%;
}

.customer th:nth-child(4),
.customer td:nth-child(4) {
    width: 70px;
}