.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5;
}

.day-box {
    position: relative;
    max-width: 100px;
    max-height: 100px;
    background: #1e1e1e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid #ffffff55;
    margin: 3px auto;
}

.day-box:hover {
    background: #2d2d2d;
    transform: scale(1.03);
}

.day-box p {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    color: #ccc;
    font-weight: bold;
    font-size: 14px;
}

.day-box img {
    max-width: 60%;
    height: auto;
    object-fit: contain;
    opacity: 0.9;
}

.day-box img[src=""] {
    display: none;
}