.sport_about {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sport_about img {
    width: 50%;
}

@media (max-width:500px) {
    .sport_about img {
        width: 100%;
    }
}