{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "accounts/css/login.css" %}">
{% endblock extra_css %}
{% block extra_con %}
    <div class="login_area">
        {% if messages %}
            {% for message in messages %}<div class="error">{{ message }}</div>{% endfor %}
        {% endif %}
        <span class="title">로그인</span>
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <div class="input_area">
                <label for="{{ form.username.id_for_label }}">아이디</label>
                {{ form.username }}
            </div>
            <div class="input_area">
                <label for="{{ form.password.id_for_label }}">비밀번호</label>
                {{ form.password }}
            </div>
            <button type="submit" class="login_btn">로그인</button>
        </form>
        <a href="{% url 'accounts:sign_up' %}">
            <div class="sign_up">회원가입</div>
        </a>
    </div>
{% endblock extra_con %}
{% block extra_js %}
{% endblock extra_js %}
