{% extends "main/base.html" %}
{% load humanize %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "games/css/sub_casino.css" %}">
    {% block sub_extra_css %}
    {% endblock sub_extra_css %}
{% endblock extra_css %}
{% block extra_con %}
    <div class="money-change">
        <div id="currenMoney" class="current-money">
            <span>보유 카지노·슬롯 금액</span>
            <input type="text" id="get_money" value="{{ money }}" readonly>
        </div>
        <div class="current-money">
            <span>전환 금액</span>
            <input type="input" id="input_money" placeholder="금액을 입력해주세요">
        </div>
        <div class="current-money">
            <span>전환 선택</span>
            <select id="moneySelect">
                <option class="black" value="in">카지노, 슬롯 금액</option>
                <option class="black" value="out">보유 금액</option>
            </select>
        </div>
        <button class="money-change-btn" id="moneyChangeBtn"
                data-user-money="{{ user.money }}"
                data-user-name="{{ user.username }}">전환하기</button>
    </div>
    {% block sub_content %}
    {% endblock sub_content %}
    <script src="{% static "games/js/bacara.js" %}"></script>
{% endblock extra_con %}
