{% extends "games/sub_base.html" %}
{% load static %}
{% block sub_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'games/css/special.css' %}">
{% endblock sub_css %}
{% block sub_con %}
    <div class="sport-games">
        {% for event in events %}
            {% for period in event.periods %}
                {% if period.code != "num_0" %}
                    <div class="game-list" data-event-id="{{ event.id }}">
                        <div class="league_name">
                            <span class="event_name">{{ event.league }}</span>
                            <span class="time">{{ event.starts|date:"Y-m-d H:i" }}</span>
                        </div>
                        {% for markets in period.markets %}
                            <div class="team"
                                 data-market-type="{{ markets.type }}"
                                 data-market-id="{{ markets.market_id }}">
                                {# ---------------- 승무패 ---------------- #}
                                {% if markets.type == "money_line" %}
                                    {% for odds in markets.values %}
                                        <div class="market">{{ period.description }} [{{ markets.type_ko }}]</div>
                                        <div class="home pick"
                                             data-sport-number="{{ period.code }}"
                                             data-sport-type="{{ get_type }}"
                                             data-event-id="{{ event.event_id }}"
                                             data-pick="홈승"
                                             data-teamName="{{ event.home }}"
                                             data-odds="{{ odds.home|floatformat:2 }}"
                                             data-market-id="{{ markets.market_id }}">
                                            <span class="name">{{ event.home }}</span>
                                            <span class="odds">{{ odds.home|floatformat:2 }}</span>
                                        </div>
                                        {% if odds.draw %}
                                            <div class="draw pick"
                                                 data-sport-number="{{ period.code }}"
                                                 data-sport-type="{{ get_type }}"
                                                 data-event-id="{{ event.event_id }}"
                                                 data-pick="무"
                                                 data-teamName="{{ event.home }}"
                                                 data-odds="{{ odds.draw|floatformat:2 }}"
                                                 data-market-id="{{ markets.market_id }}">
                                                <input type="hidden" class="name">
                                                <span>{{ odds.draw|floatformat:2 }}</span>
                                            </div>
                                        {% else %}
                                            <div class="draw">vs</div>
                                        {% endif %}
                                        <div class="away pick"
                                             data-sport-number="{{ period.code }}"
                                             data-sport-type="{{ get_type }}"
                                             data-event-id="{{ event.event_id }}"
                                             data-pick="원정승"
                                             data-teamName="{{ event.away }}"
                                             data-odds="{{ odds.away|floatformat:2 }}"
                                             data-market-id="{{ markets.market_id }}">
                                            <span class="odds">{{ odds.away|floatformat:2 }}</span>
                                            <span class="name">{{ event.away }}</span>
                                        </div>
                                    {% endfor %}
                                    {# ---------------- 핸디캡 ---------------- #}
                                {% elif markets.type == "spread" %}
                                    {% with odds=markets.values|first %}
                                        {% if odds %}
                                            
                                            <div class="market">{{ period.description }} [{{ markets.type_ko }}]</div>
                                            <div class="home pick"
                                                 data-sport-number="{{ period.code }}"
                                                 data-sport-type="{{ get_type }}"
                                                 data-event-id="{{ event.event_id }}"
                                                 data-pick="홈핸승"
                                                 data-teamName="{{ event.home }}"
                                                 data-odds="{{ odds.home_price|floatformat:2 }}"
                                                 data-point="{{ odds.hdp|floatformat:2 }}"
                                                 data-market-id="{{ markets.market_id }}">
                                                <span class="name">{{ event.home }}</span>
                                                <span class="odds">{{ odds.home_price|floatformat:2 }}</span>
                                            </div>
                                            <div class="draw">{{ odds.hdp|floatformat:2 }}</div>
                                            <div class="away pick"
                                                 data-sport-number="{{ period.code }}"
                                                 data-sport-type="{{ get_type }}"
                                                 data-event-id="{{ event.event_id }}"
                                                 data-pick="원정핸승"
                                                 data-teamName="{{ event.away }}"
                                                 data-odds="{{ odds.away_price|floatformat:2 }}"
                                                 data-point="{{ odds.hdp|floatformat:2 }}"
                                                 data-market-id="{{ markets.market_id }}">
                                                <span class="odds">{{ odds.away_price|floatformat:2 }}</span>
                                                <span class="name" data-team="away">{{ event.away }}</span>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    {# ---------------- 언더/오버 ---------------- #}
                                {% elif markets.type == "total" %}
                                    {% with odds=markets.values|first %}
                                        {% if odds %}
                                            <div class="market">{{ period.description }} [{{ markets.type_ko }}]</div>
                                            <div class="home pick"
                                                 data-sport-number="{{ period.code }}"
                                                 data-sport-type="{{ get_type }}"
                                                 data-event-id="{{ event.event_id }}"
                                                 data-pick="언더"
                                                 data-odds="{{ odds.under_price|floatformat:2 }}"
                                                 data-point="{{ odds.points|floatformat:2 }}"
                                                 data-teamName="{{ event.home }}"
                                                 data-market-id="{{ markets.market_id }}">
                                                <span class="name">{{ event.home }}</span>
                                                <span class="odds">{{ odds.under_price|floatformat:2 }}</span>
                                            </div>
                                            <div class="draw"
                                                 data-pick="point">{{ odds.points|floatformat:2 }}</div>
                                            <div class="away pick"
                                                 data-sport-number="{{ period.code }}"
                                                 data-sport-type="{{ get_type }}"
                                                 data-event-id="{{ event.event_id }}"
                                                 data-pick="오버"
                                                 data-odds="{{ odds.over_price|floatformat:2 }}"
                                                 data-point="{{ odds.points|floatformat:2 }}"
                                                 data-teamName="{{ event.away }}"
                                                 data-market-id="{{ markets.market_id }}">
                                                <span class="odds">{{ odds.over_price|floatformat:2 }}</span>
                                                <span class="name">{{ event.away }}</span>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock sub_con %}
{% block extra_js %}
    <script src="{% static 'games/js/special.js' %}"></script>
{% endblock extra_js %}
