{% extends "games/sub_base.html" %}
{% load static %}
{% block sub_extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'games/css/sport.css' %}">
{% endblock sub_extra_css %}
{% block sub_content %}
    <div class="sport_area">
        <div class="sport_list">
            <div>
                <span class="sport_title">아제르바이젠 프리미어리그</span>
                <div class="sport_info">
                    <div class="time">08월31일(일) 01:30</div>
                    <div class="game_info">
                        <div>
                            <div class="game">
                                <span>승무패</span>
                            </div>
                            <div class="game home">
                                <span>리버풀</span>
                                <span class="sport_odd">3.5</span>
                            </div>
                            <div class="game draw">
                                <span>3.5</span>
                            </div>
                            <div class="game away">
                                <span class="sport_odd">2.5</span>
                                <span>맨체스터 유나이티드</span>
                            </div>
                        </div>
                        <div>
                            <div class="game">
                                <span>언더오바</span>
                            </div>
                            <div class="game home">
                                <span>리버풀</span>
                                <span class="sport_odd">
                                    <div class="red">↓</div>
                                    <div>3.5</div>
                                </span>
                            </div>
                            <div class="game draw">
                                <span>3.5</span>
                            </div>
                            <div class="game away">
                                <span class="sport_odd">
                                    <div>3.5</div>
                                    <div class="up">↑</div>
                                </span>
                                <span>맨체스터 유나이티드</span>
                            </div>
                        </div>
                        <div>
                            <div class="game">
                                <span>핸디캡</span>
                            </div>
                            <div class="game home">
                                <span>리버풀</span>
                                <span class="sport_odd">
                                    <div class="red green">H</div>
                                    <div>3.5</div>
                                </span>
                            </div>
                            <div class="game draw">
                                <span>3.5</span>
                            </div>
                            <div class="game away">
                                <span class="sport_odd">
                                    <div>3.5</div>
                                    <div class="up green">H</div>
                                </span>
                                <span>맨체스터 유나이티드</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock sub_content %}
