{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
   <link rel="stylesheet" href="{% static "games/css/sub_base.css" %}">
   {% block sub_css %}
   {% endblock sub_css %}
{% endblock extra_css %}
{% block extra_con %}
   <div class="sport-wrap">
      <div class="game-type">
         <a href="{% url "games:sport" %}"
            class="{% if sport_type == 'sport' %}border_active{% endif %}">크로스</a>
         <a href="{% url "games:special" %}"
            class="{% if sport_type == 'special' %}border_active{% endif %}">스페셜</a>
      </div>
      <div class="sport-list">
         {% for item in sport_count_list %}
            <a class="sport-item {% if item.id == get_type %}sport_active{% endif %}"
               href="?type={{ item.id }}">{{ item.name }} <span class="red">{{ item.count }}</span></a>
         {% endfor %}
      </div>
   </div>
   {% block sub_con %}
   {% endblock sub_con %}
{% endblock extra_con %}
{% block extra_js %}
   <script src="{% static "games/js/sport_base.js" %}"></script>
{% endblock extra_js %}
