:root {
    --back: #000;
    --back_2: #111;
    --back_3: #363636;
    --color: #1f9dcd;

    --success: #2e7d32;
    --success-hover: #43a047;

    --warning: #ff9800;
    --warning-hover: #ffb74d;

    --danger: #d32f2f;
    --danger-hover: #e53935;

    --primary: #1976d2;
    --primary-hover: #2196f3;
}

.login-wrap {
    position: absolute;
    top: 80px;
    width: 60%;
    background-color: var(--back);
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.input input {
    border: 1px solid #aaa;
    padding: 8px;
    color: var(--back);
}

.login-btn,
.join-btn {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--back_3);
    margin-bottom: 5px;
}

.login-btn {
    background-color: var(--back)
}

.join-btn {
    background-color: var(--color);
}

/* 호버 효과 */
.login-btn:hover,
.join-btn:hover {
    background-color: #357ab8;
}

.error {
    background-color: var(--danger);
    width: 100%;
    font-size: 12px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}