{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "main/css/main.css" %}">
{% endblock extra_css %}
{% block extra_con %}
    <div class="bt-menu">
        <div class="login">
            {% if username %}
            {% else %}
                <a class="a_active" href="{% url "recoards:login" %}">
                    <div class="login-btn">로그인</div>
                </a>
                <a class="a_active" href="{% url "recoards:sign_up" %}">
                    <div class="join-btn">회원가입</div>
                </a>
            {% endif %}
        </div>
        <div class="main-menu">
            <a class="a_active" href="{% url 'games:sport' %}">
                <div class="con">
                    <i class="fa-regular fa-futbol icon"></i>
                    <span>스포츠</span>
                </div>
            </a>
            <a class="a_active" href="{% url "games:casino" %}">
                <div class="con">
                    <i class="fa-solid fa-coins icon"></i>
                    <span>카지노</span>
                </div>
            </a>
            <a class="a_active" href="{% url "games:slot" %}">
                <div class="con">
                    <i class="fa-solid fa-gamepad icon"></i>
                    <span>슬롯</span>
                </div>
            </a>
            <a class="a_active" href="{% url "amount:amount" %}">
                <div class="con">
                    <i class="fa-solid fa-hand-holding-dollar icon"></i>
                    <span>입금</span>
                </div>
            </a>
            <a class="a_active" href="{% url "amount:money_exit" %}">
                <div class="con">
                    <i class="fa-solid fa-money-bills icon"></i>
                    <span>출금</span>
                </div>
            </a>
            <a class="a_active" href="{% url "recoards:customer" %}">
                <div class="con">
                    <i class="fa-solid fa-comment-dots icon"></i>
                    <span>1:1문의</span>
                </div>
            </a>
            <a class="a_active" href="{% url "notes:event" %}">
                <div class="con">
                    <i class="fa-solid fa-gift icon"></i>
                    <span>이벤트</span>
                </div>
            </a>
            {% comment %} <a class="a_active" href="#">
                <div class="con">
                    <i class="fa-solid fa-clipboard-check icon"></i>
                    <span>출석현황</span>
                </div>
            </a> {% endcomment %}
            <a class="a_active" href="{% url "notes:notice" %}">
                <div class="con">
                    <i class="fa-solid fa-bullhorn icon"></i>
                    <span>공지규정</span>
                </div>
            </a>
            <a class="a_active" href="{% url "notes:bet_list" %}">
                <div class="con">
                    <i class="fa-solid fa-receipt icon"></i>
                    <span>베팅내역</span>
                </div>
            </a>
            <a class="a_active" href="#">
                <div class="con">
                    <i class="fa-solid fa-arrow-right-arrow-left icon"></i>
                    <span>포인트전환</span>
                </div>
            </a>
            <a class="a_active" href="#">
                <div class="con">
                    <i class="fa-solid fa-envelope-open-text icon"></i>
                    <span>쪽지함</span>
                </div>
            </a>
        </div>
    </div>
{% endblock extra_con %}
